<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GatewayScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Stryker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C62739B1D0AB1DD00269751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6273B21D0AB1DD00269751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6273BD1D0AB1DD00269751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9CEBC31E0D2DAA0035A038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
